body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
}
.bg {
    z-index: -1;
    position: fixed;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.btnn {
    position: absolute;
    bottom: 100px;
    right : 100px;
    z-index: 3;
    background-color: #F67800;
    color: white;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    border-radius: 2px;
    transition: 0.3s;
}

.btnn:hover {
    box-shadow: 0 0 5px #F67800, 0 0 25px #F67800, 0 0 50px #F67800, 0 0 200px #F67800;
}

.text {
    position: absolute;
    bottom:50px;
    left: 100px;
    font-size: 60px;
    color: white;
    width: 90%;
    text-align: left;
    font-weight: bold;
}

.title {
    font-size: 100px;
}

.data {
    font-size: 19px;
    line-height: 100%;
    font-weight: 500;
}

@media only screen and (max-width: 768px){
    .btnn {
        position: absolute; 
  left: 0; 
  right: 0;
  bottom: 100px; 
  margin-left: auto; 
  margin-right: auto;
  padding: 10px 0px; 
  width: 130px;
  font-size: small;
    }

    .bg {
        transform: translate(-30%,0px);
    }

    .text {
        position: absolute;
        bottom:190px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        color: white;
        width: 90%;
        text-align: left;
        font-weight: bold;
        line-height: 100%;
    }
    
    .title {
        font-size: 100px;
    }
    
    .data {
        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
    }

}